/* general styling */

@font-face {
  font-family: "milliardbold";
  src: url("/font/Millard-f/rene_bieder__milliard_bold-webfont.woff2")
      format("woff2"),
    url("/font/Millard-f/rene_bieder__milliard_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "milliardbook";
  src: url("/font/Millard-f/rene_bieder__milliard_book-webfont.woff2")
      format("woff2"),
    url("/font/Millard-f/rene_bieder__milliard_book-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "milliardsemibold";
  src: url("/font/Millard-f/rene_bieder__milliard_semibold-webfont.woff2")
      format("woff2"),
    url("/font/Millard-f/rene_bieder__milliard_semibold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-size: 18.2px;
  font-family: "milliardbold";
}

p {
  font-family: "milliardbook";
  font-size: 12px;
  line-height: 24.5px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #fff;
  transition: all 0.1s;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
/* general styling ends */

/* Navigation styling begins */
nav {
  /* position: sticky;
  top: 0; */
  max-width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #16697a;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
}

.logo img {
  width: 35%;
}

.link {
  color: #e4e4e4;
  text-transform: uppercase;
  font-family: "milliardbook";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  margin-left: 35px;
  /* padding: 5px; */
}

.active {
  color: #db6400;
}

.link:hover {
  color: #db6400;
  transition: all 0.3s;
}
/* navigation ends */
/* landing page ends */
.landing {
  width: 100%;
  background-image: url(/images/back2x.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 0;
}
.landing h1 {
  color: #fff;
  font-family: "milliardbold";
  font-size: 35px;
}

.landing h2 {
  font-size: 21px;
  font-family: "milliardsemibold";
  margin: 10px 0 30px 0;
  color: #151414;
}

.cta {
  width: 100%;
  display: flex;
  justify-content: center;
  /* margin-top: 10px; */
}

.cta a {
  color: #fff;
  font-size: 14px;
  font-family: "milliardsemibold";
}
.learn {
  border: 3px solid #fff;
  padding: 10px;
}

.join {
  border: #db6400 3px solid;
  margin-left: 35px;
  background-color: #db6400;
  padding: 12px 40px;
}

.join:hover {
  border-color: #fff;
  background-color: #fff;
  color: #db6400;
  transition: all 0.5s;
}

.learn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #16697a;
  transition: all 0.5s;
}

/* <!-- landing ends --> */
/* <!-- intro begins --> */
.intro {
  max-width: 100%;
  padding: 30px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tablet {
  width: 32%;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
  padding: 70px 50px;
}
.tablet img {
  margin: 14px 0;
  /* width: 20%; */
}

.tablet h3 {
  margin-bottom: 14px;
}

.tablet a {
  color: #16697a;
  font-family: "milliardsemibold";
}

.tablet a:hover {
  color: #db6400;
  transition: all 0.3s;
}
/* <!-- intro ends --> */
/* <!-- gallery begins --> */
.gallery {
  max-width: 100%;
  padding: 0px 150px;
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}

.gallery img {
  max-width: 50%;
  padding: 0;
}

.row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}
/* <!-- galler ends --> */
/* <!-- footer starts --> */
footer {
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  padding: 50px 150px;
  color: #e4e4e4;
  background-color: #11444f;
  margin-top: 20px;
}
.footer > * {
  flex: 1 100%;
}
.footer-left {
  /* margin-left: 1.s25em; */
  margin-bottom: 2em;
  margin-right: -10%;
}

.footer-left img {
  width: 15%;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer-right {
  display: flex;
  flex-flow: row wrap;
  margin-left: -10%;
}

.footer-right > * {
  flex: 1 100%;
}

.footer-bottom {
  text-align: center;
}
.socials a {
  display: inline-block;
  /* width: 40px;
  height: 40px; */
}
.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.socials a img {
  width: 50%;
}
@media screen and (min-width: 600px) {
  .footer-right > * {
    flex: 1;
  }
  .footer-right {
    flex: 1 0px;
  }

  .footer-left {
    flex: 1 0px;
  }
}
/* home page styling ends */
/* about begins */
/* about landing */
.about {
  color: #e4e4e4;
}
.about p {
  width: 50%;
  margin: auto;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 10px;
}
.about .cta {
  text-align: center;
}

.about .cta .join {
  margin-left: 0;
}

/* about landing ends */
/* about text sectin begins */
.text {
  max-width: 100%;
}

.text p {
  width: 50%;
  padding: 30px 0 0;
  margin: auto;
  text-align: left;
}
.text ul {
  list-style: none;
  width: 50%;
  padding: 20px 0 0 50px;
  margin: auto;
  text-align: left;
  font-family: "milliardbook";
  font-size: 12px;
  line-height: 24.5px;
}

.text ul li::before {
  content: "\2022";
  color: #16697a;
  font-family: "milliardbold";
  padding-right: 10px;
}
/* about intro begins */
.heading {
  width: 15%;
  margin: auto;
  text-align: center;
  margin-top: 65px;
}
.heading h3 {
  width: auto;
  border-bottom: #db6400 4px solid;
  padding-bottom: 3px;
}
.intro2 {
  max-width: 100%;
  padding: 30px 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* about ends */
/* activities styling begin */
.about h3 {
  color: #ffa62b;
}

.btn-cta {
  background-color: transparent;
  border-color: #ffa62b;
}
.none h3 {
  border: none !important;
  padding: 0;
}

/* contact styling */
main {
  padding: 30px 150px 50px;
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
}

.left a {
  color: #16697a;
  font-family: "milliardsemibold";
  margin-right: 20px;
}
.left a:hover {
  color: #db6400;
  transition: all 0.4s;
}
.left h3 {
  margin-bottom: 20px;
}
.left ul {
  list-style: none;
  padding: 10px 50px 20px;
  margin: auto;
  text-align: left;
  font-family: "milliardbook";
  font-size: 12px;
  line-height: 24.5px;
}

.left ul li::before {
  content: "\2022";
  color: #16697a;
  font-family: "milliardbold";
  padding-right: 10px;
  font-size: 20px;
}
.right {
  width: 50%;
  padding-left: 8%;
  text-align: right;
}
form {
  width: 80%;
  margin-top: 45px;
  text-align: right;
}

input,
textarea {
  background-color: #f8f1f1;
  border: none;
  margin-bottom: 30px;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  display: block;
  font-size: 14px;
  font-family: "milliardbook";
}

input::placeholder,
textarea::placeholder {
  font-family: "milliardbook";
  font-size: 14px;
}

form button {
  background-color: #16697a;
  border: none;
  padding: 10px 20px;
  font-family: "milliardsemibold";
  border-radius: 5px;
  color: #fff;
}
/* join styling */
.join-page {
  justify-content: center;
}
.join-page form {
  width: 100%;
}

.join-page .right {
  width: 60%;
  padding: 0px 80px 80px;
  box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
}

.join-page h3 {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}

/* Mobile Views started here */
@media (max-width: 760px) {
  nav {
    padding: 20px 25px;
  }
  .logo img {
    width: 25%;
  }
  .links {
    display: none;
  }
  .landing {
    background-image: url(/images/back-mobile.png);
    padding: 30px 25px;
  }
  .landing h1 {
    font-size: 15px;
  }
  .landing h2 {
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 10px;
  }

  .cta {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .cta a {
    font-size: 11px;
  }

  .learn {
    justify-content: center;
    padding: 12px 5px;
    border: 2px solid #fff;
  }
  .join {
    padding: 12px 30px;
    border: 2px solid #db6400;
    margin-left: 20px;
  }

  /* intro */
  .intro {
    flex-direction: column;
    padding: 25px;
  }
  .tablet {
    margin: 10px auto;
    width: 100%;
    padding: 40px 40px;
  }
  /* gallery */
  .gallery {
    flex-direction: column;
    padding: 0 25px;
  }
  .row img {
    max-width: 100%;
  }
  .row {
    display: block;
    flex-direction: column;
  }

  /* footer starts */
  footer {
    padding: 50px 25px;
    text-align: center;
  }
  .footer img {
    width: 40%;
    padding: 10px 0;
  }
  .footer-right {
    margin-left: 0;
  }
  .footer-left h3 {
    padding-bottom: 5px;
  }
  .footer-left {
    max-width: 100%;
  }
  .footer-bottom p {
    margin-top: 20px;
  }
  .socials {
    text-align: center;
  }

  /* about mobile */
  .about p {
    width: 100%;
  }
  .text {
    padding: 20px 25px 50px;
  }
  .text p {
    width: 100%;
  }
  .text ul {
    width: 100%;
    padding-left: 25px;
  }

  .intro2 {
    flex-direction: column;
    padding: 25px;
  }
  .heading {
    width: 40%;
  }
  /* contact */
  main {
    padding: 30px 25px;
    flex-direction: column;
  }
  .left {
    width: 100%;
  }

  .right {
    width: 100%;
    padding-left: 0;
  }
  form {
    width: 100%;
  }
  input,
  textarea {
    margin-bottom: 20px;
  }
  /* join */
  .join-page .right {
    width: 100%;
    padding: 0 25px 50px;
  }
} ;
